.home{
  margin-top: 50px;
  
}

.homeSlide{
  box-shadow: 3px 5px;
  border-radius: 5px;
  background: #dffec4;
  height: 400px;
}

.homeSlide h1 {
    font-size: 35px;
    margin-top: 30px;
    /* line-height: 55px;
    margin: 50px 0 20px 0; */
  }
  .homeSlide p {
    margin: 20px 0;
    height: 250px;
  }
  .homeSlide ul {
    position: absolute;
    bottom: 5px;
  }
  .homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
  }
  .homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
  }
  .homeSlide ul li button::before {
    font-size: 15px !important;
    color: #60230f;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
  }
  .homeSlide .box{
    display: flex !important;
  }
  .homeSlide .box .left{
    width: 70%;
  }
   .left button{
    margin-top: -400px;
  }
  .homeSlide .box .right{
    width: 30%;
  }
  .homeSlide .box img{
    margin-top: 10px;
    width:  100%;
    height: 100%;
    border-radius: 5px 20px;
  }